DEBUG=True

POSTGRES_DB=your_local_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
SECRET_KEY=django-insecure-66yfo%ed^ivdffni%asgh9nxs+iet!x^-z8oj6swfxfm--i9mi
SU_EMAIL=admin@example.com
SU_PASSWORD=StrongPassword123
SU_USERNAME=admin